<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout.html">

<dom-module id="goal-item">
  <style>
    :host {
      display: block;
      @apply(--layout-vertical)
    }
    paper-progress{
      width: 100%;
      height: 10px;
      --paper-progress-active-color: var(--accent-color);
    }
    .image{
      position: absolute;
      top:0;
      bottom:0;
      left: 0;
      right: 0;
    }
    .container{
      height: 100px;
    }
    .container::before{
      content: "";
      position:absolute;
      top:0;
      left:0;
      height: 100%;
      width: 100%;
      background: inherit;
    }
    paper-item{
      color: white;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 15px;
      width: 100%;
      font-weight: 100;
    }
    #percentage{
      font-family: 'Roboto';
      font-size: 14px;
      color: white;
      position: absolute;
      right: 8px;
      bottom: 0;
      font-weight: 100;
    }
  </style>
  <template>
    <div class="vertical layout flex container" style$="[[_computeItemImage(goal)]]">
      <paper-item>[[goal.name]]</paper-item>
      <div id="percentage">
        <p><span>[[goal.saved]]</span>%</p>
      </div>
      <div class="flex"></div>
      <paper-progress value="[[goal.saved]]"></paper-progress>
    </div>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'goal-item',

    _computeItemImage: function(goal){
      return 'background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url("' + goal.image + '");'
    }

  });
</script>
