<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../../bower_components/iron-image/iron-image.html">

<dom-module id="goal-item">
  <style>
    :host {
      display: block;
      @apply(--layout-vertical)
      position: relative;
      --image-size: 75px;

    }
    paper-progress{
      margin-top: 10px;
      width: 100%;
      height: 5px;
      --paper-progress-active-color: rgb(56, 210, 187);
      --paper-progress-secondary-color: white;
    }
    .image-container{
      position:relative;
      width: var(--image-size);
      height: var(--image-size);
    }
    iron-image{
      width: var(--image-size);
      height: var(--image-size);
    }
    iron-image::before{
      content: "";
      position:absolute;
      width: var(--image-size);
      height: var(--image-size);
      background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
    }
    paper-item-body > * {
      font-weight: 100;

    }
    paper-item{
      position:absolute;
      left: var(--image-size);
      right: 0;
    }
  </style>
  <template>
    <div class="horizontal layout">
      <div class="image-container">
        <iron-image src="[[goal.image]]" sizing="contain"></iron-image>
      </div>
      <paper-item>
        <paper-item-body two-line>
          <div>[[goal.name]]<span style="margin-left:15px;color: grey">[[goal.saved]]</span>%</div>
          <paper-progress secondary value="[[goal.saved]]"></paper-progress>
        </paper-item-body>
      </paper-item>
    </div>

  </template>
</dom-module>

<script>
  Polymer({
    is: 'goal-item',

    _computeItemImage: function(goal){
      return 'background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("' + goal.image + '");'
    }

  });
</script>
