:host {
  display: block;
}
paper-toast {
  min-width: 100px;
  width: 160px;
  left: 0;
  right: 0;
  min-height: 40px;
  height: 40px;
  line-height: 7px;
  margin: auto;
  border-radius: 10px;
}
.spendable-container {
  position: relative;
  left: 0;
  right: 0;
  height: 200px;
}
.spendable-container .big-circle {
  width: 175px;
  height: 175px;
  border: 1px solid #666666;
  border-radius: 50%;
}
.spendable-container .big-circle div {
  font-size: 50px;
  color: #666666;
  font-weight: 900;
}
.spendable-container .big-circle div[secondary] {
  font-size: 14px;
  color: grey;
}
